.active {
    border-bottom: solid 2px white;
    color: white;
}

.btn-outline-light {
    border-width: 2px;
}

.hero {
    margin-top: 0!important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}