.active {
    border-bottom: solid 2px white;
    color: white;
}

.btn-outline-light {
    border-width: 2px;
}

.hero {
    padding: 30vh 0!important;
    margin-top: 0!important;
}

.upload-btn {
    padding: 15px 20px;
    font-weight: bold;
}